# Hello Python World

Next step is code, first lesson the builtin "print(s)" function

In [14]:
# code section
print ('hello world')

hello world

# Basic math and print operations

In [15]:
print (5 + 10)
print (10 * 10)

100/0

15
100

ZeroDivisionError: division by zero

# Basic Types - String, Int, Arrays (Lists)

There are many data types (like dates, strings, integer and decimal.. etc etc)

In [62]:
# int, string, array example
i = 10
s = "Doug"
a = [i,s]

print (a)

b = [1,2,3,4,5]
print (b)

[10, 'Doug']
[1, 2, 3, 4, 5]

# Functions and Libraries

Sometimes you want to write a function and re-use it.

In [67]:
# a function to add 2 numbers
def myadd(a, b):
    sum = a+b
    return sum
    
print (myadd (5,10))

print (myadd (5, b))   # does it work?

15

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [65]:
# what if a or b aren't #'s
myadd ("Doug", 5)

TypeError: must be str, not int

# Conditions !

Sometimes you want to execute only IF something else (IF-THEN conditions)

In [44]:
def myadd(a, b):
    if (type(a) == str):    # TEST if TRUE
        return b            # RUN only if TRUE
    else:
        sum = a+b           # ELSE run here
        return sum          # AND here

myadd ("Doug", 5)

5

# Loops

Sometimes you want to repeat a few times

In [56]:
print ("Doug")
print ("Doug")
print ("Doug")
print ("-----")

def print_n_times(count, thetext):
    if (count == 1):
        print (thetext)
    if (count == 2):
        print (thetext*2)
    if (count == 3):
        print ((thetext+"\n")*3)
        
def print_n_times2(count, thetext):
    print (thetext*count)

def print_n_times3(count, thetext):
    for x in range(count):
        print (thetext)

    
print_n_times(2,'Doug2')
print_n_times2(6,'Doug6')
print_n_times3(3,'Doug3')

Doug
Doug
Doug
-----
Doug2Doug2
Doug6Doug6Doug6Doug6Doug6Doug6
Doug3
Doug3
Doug3

# Reading a file in Standard Python

In [25]:
myfile = "US_Farmers_Markets.csv"
file_object  = open(myfile)
print (file_object)
lines = file_object.readlines()
print (len(lines))
print (lines[0])
# do anything w/ the data... you would have to do some real coding

<_io.TextIOWrapper name='US_Farmers_Markets.csv' mode='r' encoding='cp1252'>
7821
"FMID","Market_Name","Address_Street_Number","Address_City","Address_State","Address_Zip","Latitude","Longitude","Spring_Day_A","Spring_Freq_A","Spring_Day_B","Spring_Freq_B","Summer_Day_A","Summer_Freq_A","Summer_Day_B","Summer_Freq_B","Fall_Day_A","Fall_Freq_A","Fall_Day_B","Fall_Freq_B","Accepts_CreditCards","Items","UpdateTime"

# Reading a file using Pandas (Popular Data Library)

In [17]:
# read file w/ pandas data library
import pandas 
df = pandas.read_csv(myfile)
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7820 entries, 0 to 7819
Data columns (total 23 columns):
FMID                     7820 non-null int64
Market_Name              7820 non-null object
Address_Street_Number    7820 non-null object
Address_City             7820 non-null object
Address_State            7820 non-null object
Address_Zip              7820 non-null int64
Latitude                 7820 non-null float64
Longitude                7820 non-null float64
Spring_Day_A             6219 non-null object
Spring_Freq_A            6219 non-null object
Spring_Day_B             588 non-null object
Spring_Freq_B            588 non-null object
Summer_Day_A             7423 non-null object
Summer_Freq_A            7423 non-null object
Summer_Day_B             2964 non-null object
Summer_Freq_B            2964 non-null object
Fall_Day_A               2343 non-null object
Fall_Freq_A              2343 non-null object
Fall_Day_B               29 non-null object
Fall_Freq_B              29 non-null object
Accepts_CreditCards      7820 non-null bool
Items                    7820 non-null object
UpdateTime               7820 non-null object
dtypes: bool(1), float64(2), int64(2), object(18)
memory usage: 1.3+ MB

,FMID,Market_Name,Address_Street_Number,Address_City,Address_State,Address_Zip,Latitude,Longitude,Spring_Day_A,Spring_Freq_A,...,Summer_Freq_A,Summer_Day_B,Summer_Freq_B,Fall_Day_A,Fall_Freq_A,Fall_Day_B,Fall_Freq_B,Accepts_CreditCards,Items,UpdateTime
0,1000405134,Wisconsin Home Grown Farmers Market,8895 Woodland Drive,Fifield,WI,54524,45.869224,-90.419875,NaN,NaN,...,every other week,Wednesday,weekly,NaN,NaN,NaN,NaN,True,$ wine_alcohol:N|meat_eggs_seafood:N|prepared_...,2012/4/5
1,1000783412,Erwin Farmers Market,491 Front Street North,Erwin,TN,37650,36.140224,-82.408766,Wednesday,every other week,...,every other week,NaN,NaN,NaN,NaN,NaN,NaN,True,$ wine_alcohol:N|meat_eggs_seafood:N|prepared_...,2017 Aug 16
2,1000781373,Ridge Road Farmers Market,989 Ridge Road,Brooklyn,NY,11235,40.639930,-73.938999,NaN,NaN,...,weekly,NaN,NaN,Saturday,weekly,NaN,NaN,True,$ wine_alcohol:N|meat_eggs_seafood:N|prepared_...,2013/5/19
3,1000783371,Toano Farmers Market,104 Madison Avenue,Toano,VA,23168,37.370512,-76.798882,NaN,NaN,...,WEEKLY,NaN,NaN,NaN,NaN,NaN,NaN,True,$ wine_alcohol:N|meat_eggs_seafood:N|prepared_...,2015/2/22
4,1000159765,5th Street West Farmers Market,5913 5th Street West,Saint Louis,MO,63146,38.628971,-90.239076,Saturday,weekly,...,weekly,NaN,NaN,NaN,NaN,NaN,NaN,True,$ wine_alcohol:N|meat_eggs_seafood:N|prepared_...,2014 Jan 09

In [10]:
pd.max()

FMID                                                            1000999650
Market_Name                                             ZZG Farmers Market
Address_Street_Number                                      9998 Devon Road
Address_City                                                          Zuni
Address_State                                                           WV
Address_Zip                                                          79938
Latitude                                                           48.2295
Longitude                                                          -67.472
Accepts_CreditCards                                                   True
Items                    $ wine_alcohol:Y|meat_eggs_seafood:Y|prepared_...
UpdateTime                                                        2017/9/9
dtype: object