# Hello Python World

Next step is code, first lesson the builtin "print(s)" function

In [14]:
# code section
print ('hello world')

hello world

# Basic math and print operations

In [15]:
print (5 + 10)
print (10 * 10)

100/0

15
100

ZeroDivisionError: division by zero

# Basic Types - String, Int, Arrays (Lists)

There are many data types (like dates, strings, integer and decimal.. etc etc)

In [62]:
# int, string, array example
i = 10
s = "Doug"
a = [i,s]

print (a)

b = [1,2,3,4,5]
print (b)

[10, 'Doug']
[1, 2, 3, 4, 5]

# Functions and Libraries

Sometimes you want to write a function and re-use it.

In [67]:
# a function to add 2 numbers
def myadd(a, b):
    sum = a+b
    return sum
    
print (myadd (5,10))

print (myadd (5, b))   # does it work?

15

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [65]:
# what if a or b aren't #'s
myadd ("Doug", 5)

TypeError: must be str, not int

# Conditions !

Sometimes you want to execute only IF something else (IF-THEN conditions)

In [44]:
def myadd(a, b):
    if (type(a) == str):    # TEST if TRUE
        return b            # RUN only if TRUE
    else:
        sum = a+b           # ELSE run here
        return sum          # AND here

myadd ("Doug", 5)

5

# Loops

Sometimes you want to repeat a few times

In [56]:
print ("Doug")
print ("Doug")
print ("Doug")
print ("-----")

def print_n_times(count, thetext):
    if (count == 1):
        print (thetext)
    if (count == 2):
        print (thetext*2)
    if (count == 3):
        print ((thetext+"\n")*3)
        
def print_n_times2(count, thetext):
    print (thetext*count)

def print_n_times3(count, thetext):
    for x in range(count):
        print (thetext)

    
print_n_times(2,'Doug2')
print_n_times2(6,'Doug6')
print_n_times3(3,'Doug3')

Doug
Doug
Doug
-----
Doug2Doug2
Doug6Doug6Doug6Doug6Doug6Doug6
Doug3
Doug3
Doug3

# Reading a file in Standard Python

In [2]:
myfile = "lab_2015_transactions.csv"
file_object  = open(myfile)
print (file_object)
lines = file_object.readlines()
print (len(lines))
print (lines[0])
# do anything w/ the data... you would have to do some real coding

<_io.TextIOWrapper name='lab_2015_transactions.csv' mode='r' encoding='cp1252'>
60327
customer_id,transaction_date,ticket_price,discount,product

# Reading a file using Pandas (Popular Data Library)

In [3]:
# read file w/ pandas data library
import pandas 
df = pandas.read_csv(myfile)
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60326 entries, 0 to 60325
Data columns (total 5 columns):
customer_id         60326 non-null object
transaction_date    60326 non-null object
ticket_price        60326 non-null float64
discount            4151 non-null object
product             60326 non-null object
dtypes: float64(1), object(4)
memory usage: 2.3+ MB

,customer_id,transaction_date,ticket_price,discount,product
0,11df1f41946907e669537a91abbc00a8,2015/07/06,0.01,NaN,silver
1,11df1f41946907e669537a91abbc00a8,2015/07/06,12.99,NaN,silver
2,11df1f41946907e669537a91abbc00a8,2015/08/05,12.99,NaN,silver
3,11df1f41946907e669537a91abbc00a8,2015/09/04,12.99,5%,silver
4,11df1f41946907e669537a91abbc00a8,2015/10/04,12.99,NaN,silver

In [5]:
df.max()

customer_id         fff6d81fda44debacac6f4eccc3f440b
transaction_date                          2015/12/31
ticket_price                                   29.99
product                                       silver
dtype: object